body {
  font-family: sans-serif;
  margin: 0;
}

.content {
  margin: 10px;
}


/* HEADING */

header {
  height: 100px;
  width: 100%;
}

.header-content {
  padding: 10px;
  display: inline-block;
  height: 90%;
  min-width: 15%;
  max-width: 70%;
  margin: 0px;
}

.udacity-logo {
  max-height: 100%;
  float: left;
  border: thick solid #F8981C;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.person {
  float: right;
  margin-right: 30px;
  color: #747704;
  text-align: right;
}

h1 {
  border: 1px;
  font-weight: normal;
  margin: 0;
  font-size: 56px;
}

h2 {
  border: 1px;
  font-weight: normal;
  margin: 0;
  font-size: 24px;
}

/* MEDIA QUERIES */


@media screen and (max-width: 500px) {
  h1 {
    font-size: 28px;
  }
}

@media screen and (max-width: 750px) and (min-width: 501px) {
  h1 {
    font-size: 42px;
  }
}

@media screen and (min-width: 750px) {
  h1 {
    font-size: 56px;
  }
}

@media screen and (min-width: 550px) {
  .header-content {
    padding-top: 15px;
  }
}

@media screen and (max-width: 549px) {
  .header-content {
    padding-top: 5px;
  }
}

/* MAIN SECTIONS */

.large-disp {
  padding: 1%;
  max-width: 100%;
}

.main-img {
  display: block;
  margin: 0 auto 10px;
  width: 100%;
}

.feat-work {
  padding: 1%;
  max-width: 100%;
}

h3 {
  border: 1px;
  font-weight: normal;
  margin: 0;
  font-size: 34px;
  color: #BCBBBB;
}

.feat-work-sub {
  margin: auto;
  max-width: 30%;
  display: inline-block;
}

.work-img {
  display: block;
  margin: 0 auto 10px;
  width: 100%;
}

.img-name {
  display: block;
  text-align: center;
  margin: 0 auto 5px;
  color: #747704;
  font-size: 30px;
}

.img-link {
  text-align: center;
  display: block;
  margin: 0 auto 5px;
  color: #BCBBBB;
  font-size: 18px;
}

#left-sub {
  float: left;
}

#mid-sub {
  margin-left: 5%;
  margin-right: 5%;
}

#right-sub {
  float: right;
}